h1 {
  font-family: Courier;
  font-size: 50px;
  text-align: center;
}
thead {
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}
table {
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 900;
}
h1 {
  background-color: LightSlateGray;
  color: black;
  opacity: .75;
}
table, thead, h1, tr, td{
  border: 3px solid black;
  padding: 2px;
}
tbody {
  background-color: linen;
  opacity: .85;
}



